<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.junglist963.myphotolibrary">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/photo_album"
        android:label="@string/app_name"
        android:roundIcon="@drawable/photo_album"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyPhotoLibrary">
        <activity android:name=".UpdateImageActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".AddImageActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>